/**/

body{
	/*background-image: url("../img/screenshot.png");*/
	opacity:0.75;
	background-position: -7px 0;
}

header{
	width: 34%;
	max-width: 450px;
	min-width: 300px;
	margin:60px auto 72px;
}

nav{
	vertical-align: center;
	height: 68px;
	width: 82%;
	margin: 0 auto;
	text-align: center;
	border-top: 1px solid #ebebeb;
}

nav ul{
	height: 100%;
	padding-left: 15px;
}


nav ul li{
	display: inline-block;
	height: 100%;
}

nav ul li a{
	display: block;
	height: 100%;
	padding-top: 20px;
	text-transform: uppercase;
	color: black;
	font-weight: bold;
}

nav ul li a:after{
	content: "/";
	display: inline-block;
	width: 50px;
}



nav ul li:last-child a:after{
	content: "";
	padding-left:0;
	padding-right:0;
}


div.small-menu{
	display: none;
}

.posts-container
{
	margin-top:20px;
}

.right-siders
{
	margin-top:20px;
}

.widget.HTML
{
	background-color: #ffffff;
}


.right-siders h2
{
	font-size: 14px;
margin-bottom: 30px;
text-transform: uppercase;
font-weight: bold;
padding-bottom: 5px;
display: inline-block;
border-bottom-width: 2px;
border-bottom-style: solid;
letter-spacing: 2px;
}


.widget
{
	margin-bottom: 30px;
	padding: 35px 30px 20px;
	background-color: white;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	text-align: center;
}

.post-outer
{
	padding: 55px;
	background-color: white;
	margin-bottom: 20px;
}

.wrapper{
	background-repeat: repeat;
	background-image: url("http://1.bp.blogspot.com/-jpbpp-4hqWA/U9iEjaQeA8I/AAAAAAAABYQ/FVT5jX0vMaw/s1600/background.jpg");
}

.header-wrapper{
	background-color: white;
}

.slider img{
	width: 100%;
}


